@font-face {
	font-family: 'mont';
	src: url('Montserrat-Bold.ttf');
	font-weight: bold;
}
* { box-sizing: border-box; }
body {
	margin: 0; padding: 0;
	color: white;
	font-family: "Montserrat", sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-weight: bold!important;
}
#slideshow {
	display: block;
	position: absolute;
	bottom: 0;
	left: -850px;
	max-height: 250px;
	margin-left: 10px;
}
img.slide {
	max-height: 250px;
	width: auto!important;
	position: absolute;
	bottom: 0;
}

#container {
	width: 850px;
	margin: 0;
	opacity: 1;
	padding: 0;
	position: relative;
	height: 250px;
}
