@font-face {
	font-family: 'mont';
	src: url('Montserrat-Bold.ttf');
	font-weight: bold;
}
* { box-sizing: border-box; }
body {
	margin: 0; padding: 0;
	color: white;
	font-family: "Montserrat", sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-weight: bold!important;
}
#slideshow {display: none; }
img.slide {
	max-height: 120px;
	width: auto!important;
}

#container {
	width: 100%;
	margin: 0 auto;
	opacity: 1;
	padding: 10px;
	position: relative;
	height: 140px;
}
